@{
    ViewBag.GUID = ViewBag.GUID ?? Guid.NewGuid().ToString();
    var buttonSaveId = ViewBag.GUID + "buttonSave";
}
@RenderSection("Styles", false)
<div id="@ViewBag.GUID">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>
    </div>

    @*@if (TempData["FlashMessage"] != null)
        {
            @Html.AlertDark((MessageType)TempData["MessageType"], TempData["FlashMessage"].ToSafeString())
        }*@
    @if (ViewBag.Form != null)
    {
        Html.BeginForm();
    }
    <div class="modal-body" style="overflow:hidden;">
        @RenderBody()
    </div>

    <div class="modal-footer">
        @if (ViewBag.DeshabilitarCerrarFooter == null || !ViewBag.DeshabilitarCerrarFooter)
        {
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
        }
        @if (ViewBag.Form != null)
        {
        <button type="button" class="btn btn-primary" id="@buttonSaveId"><i class="fa fa-check"></i> Aceptar</button>
        }
        @RenderSection("ModalFooter", false)
    </div>
    @if (ViewBag.Form != null)
    {
        Html.EndForm();
    }
</div>
<!-- Stylesheets -->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-extend.min.css" rel="stylesheet" />
<link href="~/Content/css/site.min.css" rel="stylesheet" />


@if (ViewBag.Response == null)
{
    <script>
        var urlModalRedirect = '';
        var urlValidation = '@ViewBag.UrlValidation';

        $(function () {
            debugger;
            $('#@buttonSaveId').click(function(e) {
                debugger;
                e.preventDefault();
                var $form = $('#@ViewBag.GUID form');

                //Validate form
                $form.validate();

                //Generate model
                var _model = ConvertSerializedArrayToObject($form.serializeArray());

                //Send by ajax
                if ($form.valid()) {
                    $.ajax({
                        type: 'POST',
                        url: urlValidation,
                        data: { "model": _model },
                        success: function(value) {
                            debugger;
                            $("#_PartialDetalleDocumentos").empty();
                            $("#_PartialDetalleDocumentos").append(value);
                            $("#_PartialDetalleDocumentos").html(value);
                            $form.closest('.modal').modal('hide');
                        },
                        error: function(error) {
                            ShowMessage("SUCCESS", error);
                            debugger;
                            return false;
                        },
                        finally: function(err) {
                            debugger;
                        }
                    });
                }
            });
        });
        //    console.log('modal');
        //    $('*[data-plugin="select2"]').select2({
        //        language: 'es',
        //        placeholder: "[ -- Seleccione -- ]",
        //        allowClear: true
        //    });

        //$('*[data-plugin="select2"]').next('.select2').find('.select2-selection').one('focus', select2Focus).on('blur',
        //    function() {
        //        $(this).one('focus', select2Focus);
        //    });

        //$(".modal").on('hidden.bs.modal', function () {
        //    $(this).remove();
        //    $('.pac-container').remove();
        //    $('iframe[name=gm-master]').remove();
        //    console.log('modal close');
        //});

        //$(".fecha").click(function () {
        //    jQuery.validator.methods["date"] = function (value, element) {
        //        debugger;
        //        return true;
        //    }
        //});

        //////////////////////77

        $(function () {
            var today = new Date();

            $('.input-group.date').datepicker({
                orientation: "bottom auto",
                language: 'es',
                changeYear: true,
                todayHighlight: true,
            });

            jQuery.validator.methods["date"] = function (value, element) { debugger; return true; }


            $('*[data-plugin="select2"]').select2({
                language: 'es',
                placeholder: "[ -- Seleccione -- ]",
                allowClear: true

            });
            setPlaceHolderToSelect2();
        });
        function setPlaceHolderToSelect2(ispartial) {
            var select2InPage = $('*[data-plugin="select2"]');//.val('').trigger('change');
            select2InPage.each(function (i, e) {
                var $this = $(e);
                if ($this.data('isedit') != null)
                    if ($this.data('isedit') == false) {
                        $this.val('').trigger('change');
                    }
            });
        }

        $(function () {
            var _guid = '@Guid.NewGuid()';
            debugger;
            $('.spb').select2({
                ajax: {
                    url: '@Url.Action("GetJList", "SapBusinessPartner", new { Area = ConstantHelper.Area.SYNC})',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        var values = params.term;
                        return {
                            filter: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true,
                },
                tags: true,
                createTag: function (newTag) {
                    return {
                        id: _guid + newTag.term,
                        text: newTag.term + "(nuevo)",
                        isNew: true,
                    };
                },
                minimumInputLength: 3,
                allowClear: true,
                language: 'es',
                placeholder: 'Buscar'
            });
        });
    </script>
}
@RenderSection("Scripts", false)
@Scripts.Render("~/bundles/jqueryval");
