<div>

    <br />
    @{
        var homeController = new SICER.Areas.Administracion.Controllers.UsuarioController();
    }
    <ul class="site-menu">

        <li class="site-menu-item has-sub">
            <a href="~/Views_aspx/MapaMoviles/index.html">
                <i class="site-menu-icon wb-map" aria-hidden="true"></i>
                <span class="site-menu-title">Link 1</span>
            </a>
        </li>
        <li class="site-menu-item has-sub title_">
            <a href="javascript:void(0)">
                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Administración</span>
            </a>
            <ul class="site-menu-sub">

                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Administracion.Rol.LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("ListRoles", "Rol", new {Area = ConstantHelper.Area.ADMINISTRACION})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Roles</span>
                        </a>
                    </li>
                }

                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Administracion.Area.LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("List", "Area", new {Area = ConstantHelper.Area.ADMINISTRACION})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Áreas</span>
                        </a>
                    </li>
                }

                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Administracion.Usuario.LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("ListUsuarios", "Usuario", new {Area = ConstantHelper.Area.ADMINISTRACION})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Usuarios</span>
                        </a>
                    </li>
                }

                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Administracion.NivelAprobacion.LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("List", "NivelAprobacion", new {Area = ConstantHelper.Area.ADMINISTRACION})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Niveles de aprobación</span>
                        </a>
                    </li>
                }

                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Administracion.CONFIG.LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("LstConfigs", "Config", new {Area = ConstantHelper.Area.ADMINISTRACION})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Configuración</span>
                        </a>
                    </li>
                }

            </ul>
        </li>

        <li class="site-menu-item has-sub title_">
            <a href="javascript:void(0)">
                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Documentos</span>
            </a>

            <ul class="site-menu-sub">

                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Documento.CajaChica.APERTURA_LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("List", "Documento", new {Area = ConstantHelper.Area.GESTIONDOCUMENTOS, documentType = DocumentType.CajaChica})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Caja Chica</span>
                        </a>
                    </li>
                }
                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Documento.EntregaRendir.APERTURA_LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("List", "Documento", new {Area = ConstantHelper.Area.GESTIONDOCUMENTOS, documentType = DocumentType.EntregaARendir})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Entrega a rendir</span>
                        </a>
                    </li>
                }
                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Documento.Reembolso.APERTURA_LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("List", "Documento", new {Area = ConstantHelper.Area.GESTIONDOCUMENTOS, documentType = DocumentType.Reembolso})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Reembolso</span>
                        </a>
                    </li>
                }
            </ul>
        </li>


    </ul>
</div>